---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Error</h1>
	</main>
</Layout>

<style>
	main {
		max-width: 600px;
		margin: 0 auto;
		padding: 20px;
	}
	h1 {
		text-align: center;
		color: red;
		font-size: 50px;
		margin-top: 100px;
	}
</style>
